@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "About";
}

<div class="about">
	<div>
		<img src="../Pictures/picOfMe.png">
	</div>
	<div class="aboutText">
		<p>
			Website created by student Zakirov Ilyas Denisovich. Group 404.
		</p>
	</div>
</div>
