@model IEnumerable<LastFile>
@{
    ViewData["Title"] = "Index";
}

<table class="table table-bordered" style="width:50%">
    <thead>
        <tr>
            <th>
                File name
            </th>
            <th>
                Size
            </th>
            <th>
                Created at
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach(var obj in Model)
            {
                <tr>
                    <td>
                        @obj.Name
                    </td>
                    <td>
                        @obj.Size
                    </td>
                    <td>
                        @obj.CreatedDateTime
                    </td>
                </tr>
            }
        }
    </tbody>
</table>