@model IEnumerable<LastFile>
@{
    ViewData["Title"] = "Home Page";
}

<div class="content">
	<div class="converter">
		<h1>
			IZConverter is a small and easy online tool that can extract compressed files, such as 7z, zipx,
			rar, exe and more.
		</h1>
		<h2>

		</h2>
		<div class="dragdrop">
			<div class="fileDropArea" id="file-selector">
				<span class="fileMsg">Drag and drop files here</span>
				<input class="fileInput">
			</div>
		</div>
		<div class="buttons">
			<button> <!-- link -->
				<p>
					Upload from link
				</p>
			</button>
			<button>
				<p>
					Upload from file
				</p> <!-- file -->
			</button>
		</div>
	</div>
</div>